* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button:hover {
  font-weight: bolder;
}

.custom-bg-color {
  background-color: var(--rosa-pastel) !important;
}

.logo-size {
  width: 64px;
  height: auto;
  border-radius: 8px;
}