@import url(/src/style.css);

footer {
  height: 80px;
  background-color: var(--rosa-pastel) !important;
  display:flex;
  justify-content: center;
  align-items: center;
}

.custom-p {
  text-align: center !important;
}