.custom-searcher {
  height: 76vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.custom-tbody th, td {
  text-align: center;
}

.cursor-pointer:hover {
  cursor: pointer;
}